.login-form {
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

.login-header {
  height: 60px;
  border-bottom: 2px solid #41B883;
}
.header-wraper {
  width: 1190px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;

}
.nav_index {
  float: left;
  font-size: 20px;
}
.login-btn {
  background-color: #41B883;
}
.login-btn:hover {
  background-color: #41B883; 
}
.login-btn:visited {
  background-color: #41B883; 
}
.login-btn:active {
  background-color: #41B883; 
}


