@import './icon/iconfont.css'; 
$main-color: #41B883;
body {/*测试*/
  min-width: 1200px;
  background-color: #fff;
}
.center-width {/*版心宽度*/
  width: 1190px;
  margin: 0 auto;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: $main-color;
}
// a:hover, a:focus, a:visited{
//   color: #41B883;
// }