@import '@/assets/public/header/topbar.scss';
@import '@/assets/public/header/searchBar.scss';
.m-header {
  background-color: #fff;
  margin-left: -50px;
  margin-right: -50px;
}
.bgc {
  background-color: #f8f8f8;
}