.search-bar {
  width: 1190px;
  height: 160px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 35px;
  background-color: #fff;
  .search-top {
    height: 100%;//125px
  }
  .search-logo {
    height: 125px; //125px
    line-height: 125px;
    img {
      width: 130px;
      height: 50px;
      vertical-align: middle;
    }
  }
  .search-input {
    height: 120px;
    box-sizing: border-box;
    padding-top: 36px;
    .antd-input-box {//输入框和搜索按钮盒子
      height: 40px;
      width: 560px;
      position: relative;
      .searchList {
        position: absolute;
        padding-left: 11px;

        top: 41px;
        width: 462px;
        z-index: 222;
        background-color: #fff;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        dd {
          color: #666;
          font-size: 12px;
          cursor: pointer;
          line-height: 2.5;
          &:hover {
            background: #F8F8F8;
            color: #31BBAC;
          }
        }
      }
      >input {
        border-color: #41B883;
        width: 462px;
        height: 40px;
        top: -12px;
      }
      >button {
        width: 88px;
        height: 40px;
        top: -12px;
        background-color: #41B883;
      }
    }
    .surrding {//搜索框下面的附近景点
      height: 25px;
      margin-top: 5px;
      line-height: 25px;
      >a {
        font-size: 12px;
        color: #999999;
        margin-right: 10px;
        &:hover {
          color: #41B883;
        }
      }
    }
  }
  
}