@import '@/assets/index/menu.scss';
@import '@/assets/index/life.scss';
@import '@/assets/index/iStyle.scss';
.index-container {//首页的整体盒子
  width: 1190px;
  margin: 0 auto;
  background-color: #ccc;
}
.index-top { //首页顶部盒子  包含菜单和导航
  height: 430px;
}

